<h2><%= @partner.name %> Page</h2>

<h3>Performance History</h3>

<%= render "performances", performances: @performances %>

<h3>Contacts</h3>
<%= link_to "Create a new contact", [:new, @partner, :contact] %>

<%= render "contacts_highlights" %>
