<table class="related-performances">
  <caption>Related Performances</caption>
  <tr>
    <th>Performance Name</th>
    <th>Customer</th>
    <th>Role</th>
  </tr>
  <% @contact.performances.each do |performance| %>
    <tr>
      <td><%= link_to performance.title, performance %></td>
      <td><%= performance.customer.name %></td>
      <td><%= performance.role_for(@contact) %></td>
    </tr>
  <% end %>
</table>
