<h2>All Performances</h2>

Looking to create a new performance?  Navigate to the <%= link_to "customers page", [:customers] %> to add the performance there.

<% if @performances.any? %>
  <ul>
    <% @customers.each do |customer| %>
      <% if customer.performances.any? %>
        <li>
          <strong><%= customer.name %></strong> | (<%= customer.performances.count %>)
          <ol>
            <li><%= render "performances", performances: customer.performances %></li>
          </ol>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
    There are no performances listed. See link above to add a performance.
<% end %>
