<h2>New Past Performance for <%= @customer.name %></h2>
<p>Use this form to create a new performance summary for a contract with <%= @customer.name %>.</p>
</div>
<%= render "performance_form" %>
</div>
